* {
    color: #f7f7f7;
    font-family: 'Gontserrat';
}

@font-face {
    font-family: 'Gontserrat';
    src: url(../fonts/Gontserrat-Medium.ttf);
}

/* HEADER */

.link {
    display: block;
    text-decoration: none;
}

/* ERRORS */

input.error,
select.error,
textarea.error {
    border-color: rgb(244, 63, 94);
}

/* SELECTORS */

label {
    display: block;
}

div {
    display: block;
}

input, select, option, textarea {
    color: #242424;
    background-color: #f2f2f2;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none;
}